<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336988954949-frvuqh4plg3s5p0kgoblhbadrgk4p3bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336988954949-frvuqh4plg3s5p0kgoblhbadrgk4p3bv</string>
	<key>API_KEY</key>
	<string>AIzaSyBVe-9o7ukhkUBl8hhdNo150Z0eip4EFbw</string>
	<key>GCM_SENDER_ID</key>
	<string>336988954949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AIB.Towy-Driver</string>
	<key>PROJECT_ID</key>
	<string>towy-b73a2</string>
	<key>STORAGE_BUCKET</key>
	<string>towy-b73a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336988954949:ios:1fe398d5a00e3398c69e2c</string>
</dict>
</plist>